page-login {
   a {
       text-decoration: none;
       color: royalblue;
   }

   h1 {
       color:white;
       text-align:center;
       margin-top:50px;
   }



   .btn {
       margin-top:50px;
   }

   .title {
       text-align: center;
       opacity:0.5;
   }

   p {
       color: white;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       font-size: 20px;
   }

   .line {
       background-color: white;
       height: 1px;
       width: 80px;
   }

   h5 {
       color:white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
       font-size: 12px;
   }

   .margin {
       margin-top: 30px;
       opacity:0.5;
       text-align: center
   }

}
